.banner{
    height: 50vh;
    align-content:center;
    position:relative;
    .italic {
        font-style: italic;
    }
    .content {
        text-align: center;
        z-index: 1;
        position: relative;
    }

    .image {
        background-image: url(../assets/avenguers_peque.png);
        position: absolute;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        top:0;
        bottom:0;
        right:0;
        left:0;
        opacity:0.2;
    }
    @media screen and (width > 760px) {
        .image {
            background-image: url(../assets/avengers_grande\ .png);
        }
    }
}

