:root {
    --bg-color: #000;
    --main-brand-color: #ff0000;
    --main-brand-color-light: #fd5454;
    --secondary-brand-color: #363636;
    --border-color: #fff;
    --input-bg-color: #fff;
    --main-font-family: Arial, Helvetica, sans-serif;
    --main-text-color: #fff;
    --secondary-text-color: #000;
    font-size: 20px;
}
.main-bg{
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    opacity: 1;
}
*{
    box-sizing: border-box;
}
@media print {
    * {
    color: black;
    }
    header.header, .footer, .banner {
        display: none;
    }
}
@media (prefers-color-scheme: light) /*En caso de que el user tenga el modo light en su pc*/{
    :root {
        --bg-color: #fff;
        --main-text-color: #000;
    }
}

/*ESTRUCTURA GENERAL DE LOS CONTENIDOS*/
.general-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .general-contenido {
        text-align: left;
        width: 25%;
    }
    .contenido-alternativo {
        text-align: left;
        width: 40%;
    }
}