:root {
    --bg-color: #000;
    --main-brand-color: #7700ff;
    --main-brand-color-light: #b880f7;
    --secondary-brand-color: #09ff00;
    --main-text-color: #fff;
    --border-color: #8d8d8d;
    --input-bg-color: #baf3d6;
    --main-font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.main-bg{
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    opacity: 1;
}

*{
    box-sizing: border-box;
}

@media print {
    * {
    color: black;
    }
    header.header, .footer, .banner {
        display: none;
    }
}

@media (prefers-color-scheme: light) /*En caso de que el user tenga el modo light en su pc*/{
    :root {
        --bg-color: #fff;
        --main-text-color: #000;
    }
}