:root {
    --bg-color: #000;
    --main-brand-color: #ff0000;
    --main-brand-color-light: #fd5454;
    --secondary-brand-color: #363636;
    --border-color: #fff;
    --input-bg-color: #ffffff;
    --main-font-family: "Roboto", Helvetica, sans-serif;
    --main-text-color: #fff;
    --secondary-text-color: #000;
    font-size: 20px;
}
.main-bg{
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    opacity: 1;
}
*{
    box-sizing: border-box;
}
@media print {
    * {
    color: black;
    }
    header.header, .footer, .banner {
        display: none;
    }
}

/*ESTRUCTURA GENERAL DE LOS CONTENIDOS*/
.general-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    flex-direction: column;
    padding-top: 30rem;
    padding-bottom: 30rem;
    padding-right: 2rem;
    padding-left: 1rem;

}
@media screen and (min-width: 768px) {
    .general-contenido {
        text-align: left;
        width: 25%;
    }
    .contenido-alternativo {
        text-align: left;
        width: 40%;
    }
}

@media screen and (min-width: 768px) { 
    .general-body {
        padding-top: 25rem;
        padding-bottom: 25rem;
    }
}