/*BOTONES*/
.btn {
    /*Botones en general*/
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    text-decoration: none;
    padding: 0.4rem;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid white;
    transition: background-color 0.5s;
    /*Botón secundario*/
    &.secondary {
        background-color: transparent;
        border: 1px solid var(--border-color);
        color:black;
    }
}
@media screen and (hover: hover) {
    .pointer {
        cursor: pointer;
    }
    .btn {
        cursor: pointer;
        &:hover {
            background-color: var(--main-brand-color-light);
        }
        &.secondary:hover{
            background-color: var(--border-color);
        }
    }
}

/*COMPONENTES PARA FORMULARIO*/
.form__element{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    label {
        margin-bottom: 0.3rem;
    }
    input {
        padding: 3px;
        border-radius: 5px;
        border: none;
        background: var(--input-bg-color);
        color: var(--main-text-color)
    }
    textarea {
        padding: 3px;
        border-radius: 5px;
        border: none;
        background: var(--input-bg-color);
        color: var(--main-text-color)
    }
}