.footer {
    /*font-size: 15px;*/ /*En caso de añadir texto*/
    background: var(--secondary-brand-color);
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0em 1em 0em; /*Creo que queda más fino dejando una fina línea abajo del todo*/
}
.img {
    width: 50px;
    margin: 5px;
}
