/*PLACA DE FONDO PARA FORMULARIO PRINCIPAL*/
.form__card {
    background-color: var(--secondary-brand-color);
    border-radius: 9px;
    width: 100%;
    max-width: 420px;
    margin:  0 auto;
    padding: 1rem 2rem;
    padding: 1rem;
}
    .form__card input,
    .form__card textarea {
        color: var(--secondary-text-color);
}