.info {
    width:100%;
    margin: 0 auto;
    max-width: 768px;
    
}
@media screen and (width > 768px) {
    .info {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        align-items: center;
    }
}



@media (prefers-reduced-motion: no-preference) {
    @keyframes fade-in-from-top {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        } 
        100% {
            opacity: 1;
        }
    }
}
